.menu-btn, .dropdown-btn {
    background-color: #3f3f3f;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    text-decoration: none;
    display: block;
    font-family: inherit;
}

.menu-btn:hover, .dropdown-btn:hover {
    background-color: red;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
  .dropdown-content a:hover {
    background-color: #ddd;
}
  
  .dropdown:hover .dropdown-content {
    display: block;
}
  
  .dropdown:hover .dropbtn {
    background-color: red;
}

.header {
    display: flex;
    list-style: none;
    justify-content: space-between;
    background-color: #3f3f3f;
    align-items: center;
    height: 8vh;
    padding: 0 20px;
    z-index: 1;
}

.menuL {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
    gap: 1rem;
}

.menuR {
    display: flex;
    gap: 1rem;
    margin-left: auto;
    align-items: center;
}

.logo {
    margin: 0;
    padding: 0;
    display: flex;
    background-color: green;
}

.main-content {
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 50px 100px;
}

.grid-image {
    max-width: 400px;
    height: auto;
}

select {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: none;
    background-color: lightgray;
    padding-left: 25px;
}

input[type="submit"], input[type="reset"] {
    width: 100%;
    color: white;
    background-color: green; 
    border: none;
    padding: 15px;
    margin: 10px 0px;
    cursor: pointer;
}

.sexo, .opcoes-resposta {
    border: 3px solid gray;
}

input[type="email"], input[type="tel"], input[type="url"], textarea {
  width: 100%;
  border: 1px solid grey;
  padding: 10px;
}

.login {
    background-color: lightgray;
    margin: 15px 0px;
    padding: 15px 0px 0px 15px;
}

* {box-sizing:border-box}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: 3rem auto;
}

.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}